*.log
*.tmp
*.bak
*.swp
*.swo
*.pid
.DS_Store
Thumbs.db
.vs/
*.user
*.suo
.idea/
*.iml
*.iws
bin/
obj/
*.pdb
*.mdb
appsettings.Development.json
secrets.json
node_modules/
dist/
out-tsc/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*
coverage/
*.lcov
*.bson
*.json
*.dump
*.code-workspace
*.sublime-project
*.sublime-workspace
ehthumbs.db
Desktop.ini
appsettings.Development.json
secrets.json
**/launchSettings.json